# ===========================
# Python
# ===========================
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.pytest_cache

# ===========================
# macOS
# ===========================
.DS_Store
**/.DS_Store

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Environment
# ===========================
.env

# ===========================
# Build
# ===========================
dist/
build/
*.egg-info/